<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Text Summarizer</h1>
        <h3>using HuggingFace Transformer</h3>
        <p>Write or Paste your content below for quick summarization.</p>
        
        <form id="summarization-form">
            <textarea id="dialogue-input" placeholder="Enter your content here..." required></textarea>
            <button type="submit">Summarize</button>
        </form>
        
        <div id="summary-output">
            <h3 id="summary-heading">Content Summary</h3>
            <p id="summary-text"></p>
        </div>
    </div>
    
    
    <script src="/static/script.js"></script>
</body>
</html>